@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Fraunces:wght@700&display=swap");
html {
    font-size: 1em;
}

body {
    background-color: hsl(30, 38%, 92%);
    display: flex;
    width:auto;
    height: 100px;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

main {
    width: 80vw;
    max-height: min-content;
}

/* article {
    height: min-content;
} */

h1 {
    font-family: "Fraunces", sans-serif;
    font-weight: 700;
    font-size: 45px;
}

p {
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
}

picture {
    max-width: 100%;
}

.card {
    width: auto;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}

/* .card > *{
    flex: content;
} */

.image {
    display: flex;
    /* height: 70vh; */
}

.image img {
    border-radius: 1.5rem 0 0 1.5rem;
    
}

.product {
    background-color: white;
    border-radius: 0 1.5rem 1.5rem 0;
    width: 30%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name {
    display: flex;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    letter-spacing: 1rem;
}

.prices {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}

.discount_price {
    font-family: "Fraunces", sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: hsl(158, 36%, 37%);
}

.regular_price {
    font-family: "Montserrat", sans-serif;
    text-decoration: line-through;
}

.button {
    color: white;
    background-color: hsl(158, 36%, 37%);
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content:space-evenly;
    border: none;
    border-radius: 5px;
    padding: 5%;
    cursor: pointer;
}

.button:before {
    margin-right: 1rem;
    width: 1rem;
}

.button:hover {
    background-color: hsl(212, 21%, 14%);
}

.button:focus {
    background-color: hsl(212, 21%, 14%);
}

.attribution {
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    font-size: 15px;
    align-items: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}