@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Fraunces:wght@700&display=swap");
html {
	font-size: 1em;
}

body {
	background-color: hsl(30, 38%, 92%);
    min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
}

h1 {
    font-family: "Fraunces", sans-serif;
    font-weight: 700;
    font-size: 40px;
    margin-top: 18px;
    margin-bottom: 26px;
    line-height: 2.3rem;
}

p {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
}

.card {
    max-width: 35rem;
    border-radius: 0.6rem;
    display: flex;
	justify-content: center;
}

.image {
	display: flex;
}

.image img {
	border-radius: 1rem 0 0 1rem;
    width: 100%;
}

.product {
	background-color: white;
	display: flex; 
	flex-direction: column;
	border-radius:0 1rem 1rem 0;
    padding: 5%;
}

.name {
	text-transform: uppercase;
	letter-spacing: 0.5rem;
	font-size: 0.7rem;
}

.detail {
	font-size: 0.8rem;
}

.prices {
	display: flex;
	align-items: center;
    justify-content: space-between;
    width: 60%;
}

.discount_price {
	font-family: "Fraunces", sans-serif;
    font-size: 1.8rem;
	font-weight: 700;
	color: hsl(158, 36%, 37%);
}

.regular_price {
    text-decoration: line-through;
	font-size: 0.7rem;
}

.button {
    font-family: "Montserrat", sans-serif;
	font-weight: 500;
	color: white;
	background-color: hsl(158, 36%, 37%);
    display: flex;
    justify-content: center;
    gap: 15px;
    border: none;
    border-radius: 5px;
    padding: 5%;
}

.button:hover, .button:focus {
    background-color: hsl(212, 21%, 14%);
    cursor: pointer;
}

footer {
    text-align: center;
}

.links { 
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    font-size: 15px;
    align-items: center;
}

.links a { 
    color: hsl(228, 12%, 48%); 
}

.links a:hover {
    color: hsl(212, 21%, 14%);
}